/*
Universal Selector to set styles in general 
*/
*   {
    font-family:'Roboto', Arial, Helvetica;
}


/*
 Set up custom properties 
*/
:root{
    --text-color: blueviolet;
    --border-color: #dd98a4;
    --bk-color: rgba(215, 193, 215, 0.467);
}


/*
Element Selector to set up styles for the header 
*/
header  {
    padding:20px;
    background-image: url("../image/nature-3507.gif");
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    color:white;
}
/*
Element selector to set up style for the h1 element inside of the header
*/
header h1{
    text-align: center;
    margin:0 auto;
    font-family: 'Agbalumo';
    text-shadow: 2px 2px var(--text-color);
    font-size: 30px;
}

/*
Element Selector for nav element
If content overflows an element's box, then hide
to avoid unwatned horizontal scrolling and extran whitespace
*/
nav {
    overflow: hidden;
}

/*
Element Selector to set up styles for the ul element inside of the header element
*/
header ul  {
    list-style-type: none;
    float: right;
    position: relative;
}

/*
Element Selector to set up styles for the li elements
*/
li   {
    display:inline-block;
    margin-left: 10px;
    color: black;
    text-decoration: none;
}

/*
Element Selector to set up styles for the a element
inside of the nav element.
*/
nav a   {
    float: right;
    color: var(--text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
    border-bottom: var(--text-color) double;
}

/*
Hover Selector; when the a element inside of the nav element is hovered,
then the background color and the font color change.
*/
nav a:hover {
    background-color: var(--text-color);
    color:white;
}

/*
Element Selector to change color of the main element's background
*/
main    {
    background-color: var(--bk-color);
}
/*
Elecment Selector to change font style for the h1 element inside of the section
element. 
*/
section h1 {
    font-family: 'Agbalumo';
    text-decoration: underline var(--text-color);
    color: white;
    text-shadow: 2px 2px var(--text-color);
}

/*
ID Selector to set up styles of the p element inside of the 
about-me id
*/
#about-me  p {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.5;
}

#project > #project-1   {
    width: 612px;
    height: 250px;
    flex: 0 0 600px;
}
#project    {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;

}
#project h1 {
    width:100%;
    text-align: left;
}

/*
ID Selector to set up styles for the a element inside of the 
project id
*/
#project a {
    border: 3px solid var(--border-color);
    display:inline-flex;
    width: 300px;
    height: 250px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    color: var(--text-color);
    font-size: larger;
}

/*
ID Selector to add a background image for the items inside of the project class.
*/
#project-1  {
    background-image: url("../image/digital-marketing-meeting.jpg");
    background-size:cover;
}

#project-2  {
    background-image: url("../image/blog.png");
    background-size: contain;
}

#project-3  {
    background-image: url("../image/chatting.png");
    background-size: contain;
}
#project-4  {
    background-image: url("../image/food-delivery.png");
    background-size: contain;
}
#project-5  {
    background-image: url("../image/social-media.png");
    background-size: contain;
}



/*
Hover Selector; When the a element inside of the project class
is hovered, then the size, border,and box shadow change.
*/
#project a:hover    {
    border: 5px solid #ffffff;
    box-shadow: inset 0px 0px 10px
    #f2c5cc, 0 0 20px
    #f3a4b0;
}

/*
ID Selector to set up styles for the ul element 
inside of the contact id.
*/
#contact ul {
    list-style-type: none;
    display: flex;
    justify-content:center;
}
/*
Id Selector to set up styles for the li element inside of the 
contact id
*/
#contact li {
    color: var(--text-color);
    list-style-type: none;
    justify-content: center;
    margin-left: 40px;
}
/*
Id Selector to set up styles for the a element inside of the 
li element which is inside of the contact id
*/
#contact li a   {
    text-decoration: none;
}
/*
Id Selector to set up styles for the 
contact id
*/
#contact    {
    padding:20px;
    background-image: url("../image/big-cloud.gif");
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
}

/*
Element Selector to set up styles for the h3 element 
inside of the footer element
*/
footer h3 {
    background-color: rgb(179, 138, 218);
    width:100%;
    height: 100%;
    margin:0;
    text-align: center;
    color: white;
    font-size: 70%;
}

/*
apply different styles for different media type(by screen size)
*/
@media screen and (max-width: 768px) {

    main    {
      display:flex;
      flex-shrink: 50%;
      flex-direction: column;
      justify-content: center;
      padding:0;
    }
    /*
    Change the ul and li elements to force items 
    to move to the next line if there is not enough space
    */
    #contact ul, #contact li {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding:0;
        margin-left:0;
    }
    #project a {
        display:inline-flex;
        flex-wrap: wrap;
    }
}
/*
apply different styles for different media type(by screen size)
(for secreen size smaller than / equal to 425px)
*/
@media screen and (max-width: 425px)    {
    main    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    /*
    change the items in section elements to lay out vertically 
    */
    section     {
        text-align: center;
        width: 300px;
    }
    #project h1 {
        text-align: center;
    }
    #project > #project-1   {
        flex-shrink: 1;
    }
    #contact    {
        width: 90%;
    }

    
}

